body{
     max-width: 500px;
     margin: auto;
}

h1{
    text-align: center;
}

.iconMenu{
    width: 20px;
}

.menuHome{
    display: flex;
    margin-top: 40px;
    margin-left: -200px;
}

h2,h3,h4{
    font-size: 23px;
}

.borderDados{
    border-top: solid 1px black;
    margin-left: -10px;
    margin-right: -10px;
}
.borderFormaç{
    border-top: solid 1px black;
    margin-left: -10px;
    margin-right: -10px;
}

.borderExp{
    border-top: solid 1px black;
    margin-left: -10px;
    margin-right: -10px;
}

.borderodape{
    border-top: solid 1px black;
    font-style: italic;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 10px;
}

@media screen and ( max-width: 768px ){

  
h1{
    text-align: center;
    font-size: 24px;
}

   .iconMenu{
    width: 15px;
}

.menuHome{
    display: flex;
    margin-top: 16px;
    margin-left: 20px;
}

h2,h3,h4{
    font-size: 17px;
}

p{
    font-size: 15px;
    margin-left: 17px;
    margin-right: 17px;
}

li{
    margin-right: 26px;
}

.borderDados, .borderFormaç, .borderExp, .borderodape{
    border-top: solid 1px black;
    margin-left: 17px;
    margin-right: 17px;
}

.borderodape{
    font-style: italic;
    padding-top: 17px;
}

}