body {
    background-color: black;
}

.menu{
    position: relative;
}

a{ text-decoration: none; }

.menu, ul{
    color: antiquewhite;
    margin-left: 950px;
 }

 .menu, li{
     display: inline;
     padding: 5px;
 }
 
 .imgdev{
    width: 260px;
    margin-top: 200px;
    margin-left: 10px;
    border-radius: 10px;
    position: absolute;
 }
 
 .border{
    border-top: solid 1px blue;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 22px;
}
  
h1{
    font-size: 20px;
    font-style: oblique;
    color: white;
    margin-left: 405px;
    margin-top: 90px;
    position: absolute;
}

h2{
    font-size: 53px;
    font-style: oblique;
    color:  aqua;
    margin-top: 135px;
    margin-left: 300px;
    position: absolute;
}

.profission{
    font-style: oblique;
    color: white;
    font-size: 32px;
    padding-top: 220px;
    margin-left: 315px;
    
}

.clicklinkedin{
    background-color: black;
     border: solid 2px blue;
     margin-left: 350px;
     border-radius: 6px;
     margin-top: 22px;
}
.linklinkedin{ color: blue; }

.clickgithub{
    background-color: black;
    border: solid 2px red;
    margin-left: 96px;
    border-radius: 6px;
}
.linkhub{ color: red; }

.clickblog{
    background-color: black;
    border: solid 2px greenyellow;
    margin-left: 96px;
    border-radius: 6px;
}.linkblog{ color: greenyellow; }

.Periodo{
    margin-top: -28px;
    margin-left: 415px;
}

.selectperíodo{
    font-size: 16px;
    border: none;
    background-color: black;
    color:  aqua;
}



@media screen and ( max-width: 768px ) {

    h1{
        font-size: 15px;
        font-style: oblique;
        color: white;
        margin-left: 128px;
        margin-top: 12px;
        position: absolute;
    }

    h2{
        font-size: 29px;
        font-style: oblique;
        color:  aqua;
        margin-top: 51px;
        margin-left: 48px;
        position: absolute;
    }

    .profission{
        font-style: oblique;
        color: white;
        font-size: 18px;
        padding-top: 77px;
        margin-left: 60px;
        
    }

    .clicklinkedin{
        background-color: black;
         border: solid 2px blue;
         color: antiquewhite;
         border-radius: 3px;
         margin-top: 22px;
         margin-left: 30px;
    }
    
    .clickgithub{
        background-color: black;
        color: antiquewhite;
        border: solid 2px red;
        border-radius: 3px;
        margin-left: 30px;
    }
   
    .clickblog{
        background-color: black;
        color: antiquewhite;
        border: solid 2px greenyellow;
        border-radius: 3px;
        margin-left: 40px;
    }

    .imgdev{
        width: 220px;
        margin-top: 210px;
        margin-left: -235px;
        border-radius: 5px;
        position: absolute;
     }

     .border{
        border-top: solid 1px blue;
        margin-left: -10px;
        margin-right: -10px;
        margin-top: 22px;
        
    }

    .Periodo{
        margin-top: 289px;
        margin-left: 59px;
    }

   

   
}